<%- include('partials/header.ejs') %>

<style>
    .img-thumbnail {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
</style>

<!-- content start -->
<div class="main">
    <div class="d-flex head">
        <h2 class="heading">Notes</h2>
        <a href="sociology-notes-add?id=<%= category %>" class="ml-auto"><button type="button" class="btn btn-info">Add
            Notes</button></a>
    </div>
    <div class="content">
        <div class="row text-center text-lg-left mt-3">
            <% if(!sociologynotes[0]) { %>
            <div class="col-12 text-center">
                <h2>No Notes</h2>
            </div>
            <% } else { %>
            <% sociologynotes.forEach(function(sociologynote){ %>
            <div class="col-lg-3 col-md-4 col-6">
                <div class="d-block mb-4 h-100" style="position: relative;">
                    <img class="img-fluid img-thumbnail" src="../dist/thumbnail/sociology/<%= sociologynote.thumbnail %>" alt="">
                    <button class="btn btn-danger" style="width: 100%;"
                        onclick="deletenote('<%= sociologynote._id %>')">Delete</button>
                </div>
            </div>
            <% }) %>
            <% } %>
        </div>
    </div>
</div>
</form>

<%- include ('partials/footer.ejs') %>

<script>
    activeSideBar('sociology-note-categories');
    $("#home_expand1").text('expand_more');
    $('#home_submenu1').show();

    function deletenote(id) {
        if (confirm('Do you really want to delete this note')) {
            // DO POST
            $.ajax({
                type: "POST",
                contentType: "application/json",
                url: "sociolgynotes/deletenote",
                data: JSON.stringify({
                    id: id
                })
            }).done(res => {
                if (res == 'success') {
                    location.reload();
                } else {
                    alert(res);
                }
            });
        }
    }
</script>