<%- include('partials/header.ejs') %>

<!-- content start -->
<div class="main">
    <div class="d-flex head">
        <h2 class="heading">Video Categories :-</h2>
        <button type="button" class="btn btn-info ml-auto" data-toggle="modal" data-target="#addnewvideocategory">Add
            New</button>
    </div>
    <div class="content">
        <table id="example" class="table table-striped table-bordered add-button" style="width:100%">
            <thead>
                <tr>
                    <th class="text-center">Name</th>
                    <th class="text-center">Last Update</th>
                    <th class="text-center">Created</th>
                    <th class="text-center">Action</th>
                    <th class="text-center">Edit</th>
                    <th class="text-center">Delete</th>
                </tr>
            </thead>
            <tbody>
                <% if(!videocategories[0]) { %>
                <tr>
                    <td colspan="100%" class="text-center">No Video Categories</td>
                </tr>
                <% } else {%>
                <% videocategories.forEach(function(videocategory){ %>
                <tr>
                    <td class="text-center"><%= videocategory.name %></td>
                    <td class="text-center"><%= videocategory.last_update_time %> </td>
                    <td class="text-center"><%= videocategory.created_at %> </td>
                    <% if(videocategory.subcategory){ %>
                    <td class="text-center"><a href="/admin/video-subcategories?id=<%= videocategory._id %>"><i
                                class="material-icons table-icon btn visibility-icon">visibility</i></a></td>
                    <% }else {%>
                    <td class="text-center"><a href="/admin/videos?id=<%= videocategory._id %>"><i
                                class="material-icons table-icon btn play-video-icon">play_circle_outline</i></a></td>
                    <% } %>
                    <td class="text-center" style="width: 12px;"><i class="material-icons table-icon btn edit-icon"
                            data-toggle="modal" data-target="#editvideocategory"
                            onclick="editformupdate('<%= videocategory._id %>', '<%= videocategory.name %>', '<%= videocategory.phone %>', '<%= videocategory.email %>');">edit</i>
                    <td class=" text-center" style="width: 12px;"><i class="material-icons table-icon btn delete-icon"
                            onclick="deletevideocategory('<%= videocategory._id %>');">delete</i>
                    </td>
                </tr>
                <% }); %>
                <% } %>
            </tbody>
            <tfoot>
            </tfoot>
        </table>
    </div>
    <div>

        <!-- Add videocategory Modal -->
        <div class="modal fade" id="addnewvideocategory">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Add New Video Category</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <form id="addnewvideocategory" class="mx-5">
                            <div class="mb-3">
                                <input type="text" class="form-control" id="name" name="name" placeholder="Category">
                            </div>
                            <div class="mb-3" style="display: flex;">
                                <input type="checkbox" class="form-control" id="subcategory" name="subcategory" checked>
                                <label style="margin-left: 10px; margin-top: 9px;">Sub Category</label>
                            </div>
                            <button type="submit" class="btn btn-info mt-3 pull-right">Add</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Edit videocategory Modal -->
        <div class="modal fade" id="editvideocategory">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Edit videocategory</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <form id="editvideocategory" class="mx-5">
                            <input type="hidden" id="editid" name="editid">
                            <div class="mb-3">
                                <input type="text" class="form-control" id="editname" name="editname"
                                    placeholder="Category">
                            </div>
                            <button type="submit" class="btn btn-info mt-3 pull-right">edit</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <%- include ('partials/footer.ejs') %>

        <script>
            activeSideBar('video-categories');
            $("#home_expand").text('expand_more')
            $('#home_submenu').show();

            $(document).ready(function () {
                $('#example').DataTable();
            });

            var addvideocategoryform = $('#addnewvideocategory');

            addvideocategoryform.on('submit', addvideocategoriesubmitHandler);

            function addvideocategoriesubmitHandler(e) {
                e.preventDefault()
                var phonePattern = /^\d{10}$/;
                var emailPattern = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;

                // vaidation
                if ($('#name').val() == '') {
                    alert('Category is required');
                    return false;
                } else if ($('#name').val().length > 50) {
                    alert('Category max length is 50 charactor');
                    return false;
                }

                // DO POST
                $.ajax({
                    type: "POST",
                    contentType: "application/json",
                    url: window.location + "/addnewvideocategory",
                    data: JSON.stringify({
                        name: $('#name').val(),
                        subcategory: $('#subcategory').is(':checked'),
                    })
                }).done(res => {
                    if (res == 'success') {
                        location.reload();
                    } else {
                        alert(res);
                    }
                });
            }

            var editvideocategoryform = $('#editvideocategory');

            editvideocategoryform.on('submit', editvideocategoriesubmitHandler);

            function editvideocategoriesubmitHandler(e) {
                e.preventDefault()

                var phonePattern = /^\d{10}$/;
                var emailPattern = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;

                // vaidation
                if ($('#editname').val() == '') {
                    alert('Category is required');
                    return false;
                } else if ($('#editname').val().length > 50) {
                    alert('Category max length is 50 charactor');
                    return false;
                }

                // DO POST
                $.ajax({
                    type: "POST",
                    contentType: "application/json",
                    url: window.location + "/editvideocategory",
                    data: JSON.stringify({
                        id: $('#editid').val(),
                        name: $('#editname').val(),
                    })
                }).done(res => {
                    if (res == 'success') {
                        location.reload();
                    } else {
                        alert(res);
                    }
                });
            }

            function editformupdate(id, name, phone, email) {
                $('#editid').val(id);
                $('#editname').val(name);
            }

            function deletevideocategory(id) {
                if (confirm('Do you really want to delete this category')) {
                    // DO POST
                    $.ajax({
                        type: "POST",
                        contentType: "application/json",
                        url: window.location + "/deletevideocategory",
                        data: JSON.stringify({
                            id: id
                        })
                    }).done(res => {
                        if (res == 'success') {
                            location.reload();
                        } else {
                            alert(res);
                        }
                    });
                }
            }
        </script>